body {
  background-image: url("images/foret.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: 100px;
}

h1 {
  color: #e8cc94;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 64px;
}

p {
  width: 754px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Actor;
  font-size: 20px;
  border-radius: 20px;
  background: rgba(232, 204, 148, 0.48);
  justify-content: center;
  align-items: center;
  max-width: 859px;
  padding: 52px;
  margin: 50px auto;
}

img {
  display: block;
  border-radius: 20px;
  border: 4px solid #e8cc94;
  margin: auto;
  max-width: 578px;
  aspect-ratio: 289/101;
  object-fit: cover;
}
.grandeimage {
  aspect-ratio: 101/101;
}
.moyenneimage {
  aspect-ratio: 161/101;
}
.bouton {
  display: inline-block;
  border-radius: 20px;
  border: 4px solid #7e551b;
  background: #e8cc94;
  text-decoration: none;
  padding: 20px 15px;
  text-align: center;
  color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 24px;
  transition: transform 0.3s ease;
  margin: 20px;
}

.button-container {
  margin-top: 30px;
  text-align: center;
}
.bouton:hover {
  transform: scale(1.05);
}
