body {
  background-image: url("images/foret.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: 100px;
}

h1 {
  color: #e8cc94;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 64px;
}

p {
  width: 754px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Actor;
  font-size: 20px;
  border-radius: 20px;
  background: rgba(232, 204, 148, 0.48);
  justify-content: center;
  align-items: center;
  max-width: 859px;
  padding: 52px;
  margin: 50px auto;
}

img {
  display: block;
  border-radius: 20px;
  border: 4px solid #e8cc94;
  margin: auto;
  max-width: 578px;
  aspect-ratio: 289/101;
  object-fit: cover;
}
.grandeimage {
  max-height: 35vh;
  aspect-ratio: 101/101;
}
.moyenneimage {
  aspect-ratio: 161/101;
}
.bouton {
  display: inline-block;
  border-radius: 20px;
  border: 4px solid #7e551b;
  background: #e8cc94;
  text-decoration: none;
  padding: 20px 15px;
  text-align: center;
  color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 24px;
  transition: transform 0.3s ease;
  margin: 20px;
}

.button-container {
  margin-top: 30px;
  text-align: center;
}
.bouton:hover {
  transform: scale(1.05);
}

h1 {
  animation: glow 2s infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 8px #ffd27a, 0 0 16px #ff9f1c,
      0 0 28px rgba(255, 159, 28, 0.45);
  }
  to {
    text-shadow: 0 0 6px #fff, 0 0 14px #ffe7b0, 0 0 26px #ffb347,
      0 0 40px rgba(255, 180, 80, 0.35);
  }
}
#shine {
  animation: shine 0.5s infinite alternate;
}
@keyframes shine {
  from {
    filter: drop-shadow(0 0 5px #ffd27a) drop-shadow(0 0 10px #ffb347)
      drop-shadow(0 0 20px rgba(255, 180, 80, 0.4));
  }
  to {
    filter: drop-shadow(0 0 10px #fff8b0) drop-shadow(0 0 20px #ff9421)
      drop-shadow(0 0 30px rgba(255, 115, 0, 0.766));
  }
}
#shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-2px, 1px) rotate(-2deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, -1px) rotate(1deg);
  }
  80% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
