body {
  background-image: url("images/foret.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #e8cc94;

  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 64px;
}

p {
  width: 754px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Actor;
  font-size: 20px;
  border-radius: 20px;
  background: rgba(232, 204, 148, 0.48);
  justify-content: center;
  align-items: center;
  max-width: 859px;
  padding: 52px;
  margin: auto;
}

img {
  border-radius: 20px;
  border: 4px solid #e8cc94;
  margin: auto;
  width: 578px;
  height: 202px;
  aspect-ratio: 289/101;
}
.bouton {
  border-radius: 20px;
  border: 4px solid #7e551b;
  background: #e8cc94;
  text-decoration: none;
  padding: 10px 10px;
  color: #7e551b;
  font-family: "Cherry Bomb";
  font-size: 24px;
  margin: auto;
}
